doctype html
div.header
  img(src='http://vignette3.wikia.nocookie.net/outcast/images/f/f8/Imagen-no-disponible.png/revision/latest?cb=20160322191504&path-prefix=es' align='left')
  h1 Lógica

md-toolbar(id="menu", fl-layout="coulum")
  a(href="/") INICIO
  a(href="/demostrar") DEMOSTRAR
  a MIS PREDICADOS
  a MIS TEOREMAS
  a MI PERFIL
  a AYUDA