@import '../../styles/theme';
@import '../../styles/common';

.header {

  height: 200px;

  img {
  height: 200px;
  margin: 0 10px 0 0;
  }

  h1 {
    margin-top: 0;
    padding: 30px 0;
    font-size: 100px;
  }
}

md-toolbar {
  background-color: $mp-primary;
  padding: 0 10px;

    a {
      padding: 14px 20px;
      text-align: center;
      color: black;
    }

    a:hover {
      background-color: $mp-accent;
    }

}

.settings {
  float: right;
  background-color: $mp-primary;
  color: black;
}
