div.home
  div.buttons(fl-layout="row", fl-layout-align="space-around stretch", fl-layout-wrap)
    a.button(*ngFor="let title of titles" href="{{ title.link }}") 
      div.content
        md-icon {{ title.icon }}
        div.text {{ title.text }}